/*
* {
  border: 1px solid black;
} 
Used to get a clearer picture of the box make-up of the page */

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
  padding: 15 50 40 50;
}

header {
  margin: auto;
  display: flex;
  align-items: center;
}

footer {
  height: 80px;
}

.profile-pic {
  height: 170px;
  border-radius: 50%;
  margin: 30 30 33 0;
}

.blog-box {
  width: 398px;
  height: 200px;
  margin: 0;
  border: none;
  background-color: rgb(152, 217, 204);
}

.blog-image {
  width: 398px;
  height: 200px;
  margin: 0;
  border: none;
  object-fit: cover;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxes-container-alt {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.6em;
  letter-spacing: -0.05rem;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -0.03rem;
  margin-bottom: 70px;
}

h3 {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 0;
  padding-top: 18px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
}

hr {
  height: 2px;
  background-color: black;
  margin-bottom: -3px;
  border: none;
}

a {
  text-decoration: none;
}

.blog-box:hover {
  background-color: rgb(61, 44, 67);
}

/* Blog page */

.blog-page {
  margin-top: 70px;
}

.blog-sub {
  margin-top: 48px;
  margin-bottom: 38px;
}

p {
  line-height: 135%;
  width: 95%;
  font-size: 1em;
}

.inline-example {
  margin-top: 25px;
  margin-bottom: 20px;
}

.opening-para {
  font-weight: 800;
  font-size: 1.1em;
}

/* Tablet view */

@media (max-width: 1000px) {
  
  body {
    width: 600px;
  }

  .profile-pic {
    height: 150px;
    margin: 25 30 25 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.4em;
  }

  .blog-box {
    width: 296px;
  }

  .blog-image {
    width: 296px;
  }


}

/* Phone view */

@media (max-width: 440px) {

  .boxes-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .boxes-container-alt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  body {
    width: 90%;
  }

  .profile-pic {
    height: 140px;
    margin: 25 30 0 0;
  }

  h1 {
    font-size: 2.7em;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 45px;
    width: 90%;
  }

  a {
    width: 100%;
  }

  .blog-box {
    width: 100%;
    height: 160px;
  }

  .blog-image {
    width: 100%;
    height: 160px;
  }

}